.menu {
    @media (min-width: 320px) and (max-width: 480px) {
        display: flex;
        flex-flow: column wrap;
        height: 400px;
        margin-top: 40px;
    }

    @media (min-width: 481px) {
        display: flex;
    }
}