.contacts-2 {
    padding: 70px 0;
    background-color: $bg-light;
    position: relative;

    &-title.title {
        text-align: start;
    }

    &-content {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 100px;
    }

    &-img {
        position: absolute;
        top: 60px;
        right: 70px;
    }
}