.service-page {
    background-color: $bg-light;

    &-header {
        padding-bottom: 50px;
    }

    &-logo {
        height: 80px;
        margin: 0 auto 20px;
        display: block;
    }

    &-title {
        font-size: 30px;
        font-weight: 700;
        letter-spacing: 0.02em;
        color: $text-color;
        text-align: center;
    }
}

@media (min-width: 320px) and (max-width: 480px) {
    .service-page {
        padding: 30px 15px 80px;

        &-header {
            max-width: 80%;
            margin: 0 auto;
        }
    
        &-btn {
            display: none;
        }
    }
}

@media (min-width: 481px) {
    .service-page {
        padding: 50px 0 150px;
    
        &-header {
            position: relative;
        }

        &-btn {
            position: absolute;
            left: 0;
            top: 0;
        }

        &-title {
            max-width: 50%;
            margin: 0 auto;
        }
    }
}