.partners {
    padding-bottom: 230px;
    background-color: $bg-light;

    &-content {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-column-gap: 25px;
    }

    &-item {
        height: 130px;
        padding: 10px;
        border-radius: 7px;
        box-shadow: 0 5px 30px 7px #7955481a;
        display: grid;
        justify-content: center;
        align-items: center;
    }

    &-img {
        max-width: 100%;
        max-height: 100%;
    }
}