.content {
    display: grid;
    grid-gap: 30px;
    margin-top: 50px;

    @media (min-width: 320px) and (max-width: 480px) {
        justify-content: center;
    }

    @media (min-width: 481px) {
        grid-template-columns: repeat(auto-fit, minmax(163px, max-content));
        align-items: center;
    }
}