<section class="about-us">
    <div class="container">
        <div class="article">
            <h3 class="article-heading">Як обслуговують клієнтів</h3>
            <p class="article-text">
                Швидкість надання послуг – завдяки електронному документообігу, зонуванню процесів оформлення документів та отримання рішень, а також наявності відокремлених фронт-офісу та бек-офісу. Час подачі документів не перевищує 20 хвилин, отримання рішень - до 2-х хвилин.
            </p>
            <br>
            <p class="article-text">
                Більшість документів можна отримати всього за 30 хвилин!
            </p>
            <br>
            <p class="article-text">
                Екстериторіальність – можливість оформлення більшості документів без прив’язки до місця проживання або місця знаходження об’єкту нерухомості.
            </p>
            <br>
            <p class="article-text">
                Можливість отримання послуг в зручний час. «ГОТОВО» працює без вихідних та перерви на обід.
            </p>
            <br>
            <p class="article-text">
                У «ГОТОВО» співробітники центру допомагають заповнити заяву клієнта, що дає можливість уникнути зайвих помилок.
            </p>
            <br>
            <p class="article-text">
                Безкоштовні консультації надаються безпосередньо у центрі, в онлайн-режимі та по номеру телефону: 0 800 300 803. Дзвінки на території України безкоштовні.
            </p>
        </div>
        <img class="about-us-picture" src="../img/About-us/about-service.png" alt="">
    </div>
    <img class="about-us-img _1" src="../img/dots.png" alt="">
    <img class="about-us-img _2" src="../img/dots.png" alt="">
</section>