<section class="about-us">
    <div class="container">
        <div class="article">
            <h3 class="article-heading">Ідея виникнення «ГОТОВО»</h3>
            <p class="article-text">
                Майже у  всіх, хто хоча би раз у житті мав справу з бюрократичною машиною, виникала думка, невже для того, щоб отримати один-єдиний папірець, потрібно обійти сотню кабінетів, вистояти таку ж саму кількість черг, витратити купу часу і терпіти приниження? У підсвідомості пересічного громадянина держустанова – це похмура будівля з ремонтом радянських часів, з безліччю коридорів та кабінетів, де сидять хамуваті чиновники.
            </p>
            <br>
            <p class="article-text">
                Ми мали зламати цей стереотип і довести, що держустанова може бути сучасною і стильною, а обслуговування швидким та ввічливим. Головною ж метою створення документ-сервiсу з самого початку стояла боротьба з побутовою корупцією.
            </p>
            <br>
            <p class="article-text">
                При вивченні досвіду боротьби з побутовою корупцією у різних країнах світу виявили, що найкращого успіху в цьому досягла Грузiя завдяки створенню Будинкiв Юстиції. Там майже всі документи і довідки державного зразку та ще кілька сотень адміністративних послуг можна отримати в стінах однієї установи, де середня швидкість обслуговування становить 15 хвилин. Ми взяли за основу цей грузинський досвiд i створили український проект.
            </p>
            <br>
            <p class="article-text">
                Так з’явилась ідея, яка, була реалізована рівно за рік.
            </p>
            <br>
            <p class="article-text">
                Протягом цього року був розроблений проект, прописанi стандарти, побудована нова будівля, організованi всi бізнес-процеси , підібраний та навчений персонал.
            </p>
        </div>
        <img class="about-us-picture" src="../img/About-us/about-idea.png" alt="">
    </div>
    <img class="about-us-img _1" src="../img/dots.png" alt="">
    <img class="about-us-img _2" src="../img/dots.png" alt="">
</section>