<section class="about-us">
    <div class="container">
        <div class="article">
            <h3 class="article-heading">Про центр</h3>
            <p class="article-text">
                Документ-сервіс «ГОТОВО» - це сучасна установа, яка надає адміністративні послуги за абсолютно новими підходами і принципами, швидко і зручно для кожного.
            </p>
            <br>
            <p class="article-text">
                З повагою до людей!
            </p>
            <br>
            <p class="article-text">
                Наша мета – знищити побутову корупцію в дозвільній сфері, спростити взаємини громадян та держави, покращити якість життя українців шляхом надання швидких, зручних та якісних адміністративних послуг.
            </p>
        </div>
        <div class="about-us-gallery">
            <div class="about-us-gallery-img _1"></div>
            <div class="about-us-gallery-img _2"></div>
            <div class="about-us-gallery-img _3"></div>
            <div class="about-us-gallery-img _4"></div>
        </div>
    </div>
    <img class="about-us-img _1" src="../img/dots.png" alt="">
    <img class="about-us-img _2" src="../img/dots.png" alt="">
</section>