<section class="contacts-2">
    <div class="container">
        <h2 class="title contacts-2-title">Контакти</h2>
        <div class="contacts-2-content">
            <div class="contacts-item">
                <span class="contacts-icon">
                    <img src="../img/Contacts/item-1.png" alt="contact icon">
                </span>
                <p class="contacts-name">Адреса</p>
                <p class="contacts-text">01010, м Київ, вулиця Генерала Алмазова, 11</p>
            </div>
            <div class="contacts-item">
                <span class="contacts-icon">
                    <img src="../img/Contacts/item-2.png" alt="contact icon">
                </span>
                <p class="contacts-name">Електронна пошта</p>
                <a href="mailto:gotovo.ds@gmail.com" class="contacts-link">gotovo.ds@gmail.com</a>
            </div>
            <div class="contacts-item">
                <span class="contacts-icon">
                    <img src="../img/Contacts/item-3.png" alt="contact icon">
                </span>
                <p class="contacts-name">Генеральний директор</p>
                <p class="contacts-text">Кузмицька Анастасія Ігорівна</p>
            </div>
            <div class="contacts-item">
                <span class="contacts-icon">
                    <img src="../img/Contacts/item-4.png" alt="contact icon">
                </span>
                <p class="contacts-name">Телефон гарячої лінії</p>
                <a href="tel:0800300803" class="contacts-link">0 800 300 803</a>
            </div>
        </div>
    </div>
    <img class="contacts-2-img" src="../img/square.png" alt="">
</section>