<section class="contacts">
    <div class="container">
        <h3 class="contacts-heading">Ми радi вам допомогти</h3>
        <ul class="contacts-list">
            <li class="contacts-item">
                <span class="contacts-icon">
                    <img src="../img/Contacts/item-1.png" alt="contact icon">
                </span>
                <p class="contacts-name">Адреса</p>
                <p class="contacts-text">01010, м Київ, вулиця Генерала Алмазова, 11</p>
            </li>
            <li class="contacts-item">
                <span class="contacts-icon">
                    <img src="../img/Contacts/item-2.png" alt="contact icon">
                </span>
                <p class="contacts-name">Електронна пошта</p>
                <a href="mailto:gotovo.ds@gmail.com" class="contacts-link">gotovo.ds@gmail.com</a>
            </li>
            <li class="contacts-item">
                <span class="contacts-icon">
                    <img src="../img/Contacts/item-3.png" alt="contact icon">
                </span>
                <p class="contacts-name">Генеральний директор</p>
                <p class="contacts-text">Кузмицька Анастасія Ігорівна</p>
            </li>
            <li class="contacts-item">
                <span class="contacts-icon">
                    <img src="../img/Contacts/item-4.png" alt="contact icon">
                </span>
                <p class="contacts-name">Телефон гарячої лінії</p>
                <a href="tel:0800300803" class="contacts-link">0 800 300 803</a>
            </li>
        </ul>
    </div>
    <img class="contacts-img" src="../img/contacts.png" alt="">
</section>