<section class="contacts-schedule">
    <div class="container">
        <h2 class="title">Графiк роботи</h2>
        <div class="contacts-schedule-content">
            <div class="contacts-schedule-item">
                <img src="../img/Services/icon-1.png" class="contacts-schedule-img" alt="">
                <div>
                    <p class="contacts-schedule-name">Шлюб за добу</p>
                    <p class="contacts-schedule-text">Пн-Пт 9:00-20:00</p>
                    <p class="contacts-schedule-text">Сб-Нд 9:00-18:00</p>
                </div>
            </div>
            <div class="contacts-schedule-item">
                <img src="../img/Services/icon-2.png" class="contacts-schedule-img" alt="">
                <div>
                    <p class="contacts-schedule-name">Страхування</p>
                    <p class="contacts-schedule-text">Пн-Сб 9:00-18:00</p>
                    <p class="contacts-schedule-text">Нд - вихiдний</p>
                </div>
            </div>
            <div class="contacts-schedule-item">
                <img src="../img/Services/icon-3.png" class="contacts-schedule-img" alt="">
                <div>
                    <p class="contacts-schedule-name">Паспортний сервiс</p>
                    <p class="contacts-schedule-text">Пн-Пт 9:00-20:00</p>
                    <p class="contacts-schedule-text">Сб-Нд 9:00-18:00</p>
                </div>
            </div>
        </div>
    </div>
</section>