<footer class="footer">
    <div class="footer-ornament _left">
        <img src="../img/ornament-full.png" alt="">
        <img src="../img/ornament-full.png" alt="">
    </div>
    <div class="footer-ornament _right">
        <img src="../img/ornament-full.png" alt="">
        <img src="../img/ornament-full.png" alt="">
    </div>
    <div class="container footer-content">
        <div class="footer-info">
            <div>
                <a href="#" class="logo _light">
                    <h1 class="logo-name">ГОТОВО!</h1>
                    <span class="logo-text">Документ-сервіс</span>
                </a>
                <div class="footer-schedule">
                    <p class="footer-schedule-text">Пн-Пт 9:00-20:00</p>
                    <p class="footer-schedule-text">Сб-Нд 9:00-18:00</p>
                </div>
            </div>
            <div class="footer-socials">
                <a href="#" class="footer-socials-item">
                    <img src="../img/instagram.png" alt="ig">
                </a>
                <a href="#" class="footer-socials-item">
                    <img src="../img/facebook.png" alt="fb">
                </a>
            </div>
        </div>
        <div class="footer-menu">
            <div class="footer-menu-col">
                <p class="footer-menu-heading">Про центр</p>
                <ul class="footer-menu-list">
                    <li class="footer-menu-item">
                        <a href="./about-us.html" class="footer-menu-link">Про “Готово!”</a>
                    </li>
                    <li class="footer-menu-item">
                        <a href="./about-idea.html" class="footer-menu-link">Iдея виникнення</a>
                    </li>
                    <li class="footer-menu-item">
                        <a href="./about-building.html" class="footer-menu-link">Будiвництво</a>
                    </li>
                    <!-- <li class="footer-menu-item">
                        <a href="#" class="footer-menu-link">Переваги</a>
                    </li> -->
                    <li class="footer-menu-item">
                        <a href="./about-service.html" class="footer-menu-link">Обслуговування</a>
                    </li>
                </ul>
            </div>
            <div class="footer-menu-col">
                <p class="footer-menu-heading">Послуги</p>
                <ul class="footer-menu-list">
                    <li class="footer-menu-item">
                        <a href="#" class="footer-menu-link">Шлюб за добу</a>
                    </li>
                    <li class="footer-menu-item">
                        <a href="#" class="footer-menu-link">Страхування</a>
                    </li>
                    <li class="footer-menu-item">
                        <a href="#" class="footer-menu-link">Паспортний сервiс</a>
                    </li>
                    <li class="footer-menu-item">
                        <a href="#" class="footer-menu-link">Апостилювання</a>
                    </li>
                    <li class="footer-menu-item">
                        <a href="#" class="footer-menu-link">Юридичнi послуги у сферi реєстрування нерухомого майна</a>
                    </li>
                    <li class="footer-menu-item">
                        <a href="#" class="footer-menu-link">Нова пошта</a>
                    </li>
                    <li class="footer-menu-item">
                        <a href="#" class="footer-menu-link">UPS - Україна</a>
                    </li>
                    <li class="footer-menu-item">
                        <a href="#" class="footer-menu-link">“Дiя”</a>
                    </li>
                </ul>
            </div>
            <div class="footer-menu-col">
                <p class="footer-menu-heading">Контакти</p>
                <ul class="footer-menu-list">
                    <li class="footer-menu-item">
                        <a href="./contacts.html" class="footer-menu-link">Контакти</a>
                    </li>
                </ul>
            </div>
            <!-- <div class="footer-menu-col">
                <p class="footer-menu-heading">Блог</p>
                <ul class="footer-menu-list">
                    <li class="footer-menu-item">
                        <a href="#" class="footer-menu-link">Останнi новини</a>
                    </li>
                </ul>
            </div> -->
        </div>
    </div>
</footer>