<header class="header">
    <div class="container">
        <h2 class="header-text-big">Шлюб за добу</h2>
        <p class="header-text-small">Державна реєстрація в самому центрі столиці.</p>
        <div class="header-buttons">
            <a href="#" class="btn _dark _shadow _long">Запис до електронної черги</a>
            <!-- <a href="#" class="btn _light _shadow">Контакти</a> -->
            <div class="contacts-item">
                <span class="contacts-icon">
                    <img src="../img/Contacts/item-4.png" alt="contact icon">
                </span>
                <p class="contacts-name">Телефон гарячої лінії</p>
                <a href="tel:0800300803" class="contacts-link">0 800 300 803</a>
            </div>
        </div>
    </div>
</header>