<section class="marriage-registration">
    <div class="marriage-registration-item">
        <h2 class="marriage-registration-title underline">Реєстрація шлюбу без черг</h2>
        <div class="marriage-registration-text">
            <p>Кожній закоханій парі хочеться якнайшвидше потрапити у святая святих - місце, де будуть узаконені їхні стосунки. Тільки ось величезний потік людей ніяк не дає можливості швидко закінчити з довгими процедурами. Чи можна без черги зареєструвати шлюб?</p>
            <br>
            <p>Так, у нас це можливо!</p>
        </div>
    </div>
</section>