<section class="navigate">
    <div class="navigate-content">
        <img class="ornament _left" src="../img/ornament.svg" alt="Орнамент">
        <img class="ornament _right" src="../img/ornament.svg" alt="Орнамент">
        <div class="container navigate-container">
            <div class="article">
                <h3 class="article-heading">Орієнтуватися у документ-сервісі дуже просто.</h3>
                <p class="article-text">
                    Відвідувача, який зайшов до примiщення, зустрiчають адміністратори на ресепшен, якi проiнформують його по всiх питаннях та нададуть покрокову інструкцію дiй
                </p>
            </div>
            <a href="#" class="btn _dark">Дiзнатись бiльше</a>
        </div>
    </div>
</section>