<section class="our-target">
    <div class="our-target-content">
        <img class="ornament _left" src="../img/ornament.svg" alt="Орнамент">
        <div class="container">
            <div class="article _half">
                <h3 class="article-heading">Наша мета -</h3>
                <p class="article-text">
                    спростити взаємини громадян та держави, сформувати новий продукт у сфері надання послуг, який максимально спростить процедуру отримання документів та забезпечить високий рівень клієнтського сервісу шляхом надання швидких, зручних та якісних послуг.
                </p>
            </div>
        </div>
    </div>
    <div class="our-target-map">
        <div class="our-target-map-text">
            <span class="our-target-map-text-bold">1</span>
            <span class="our-target-map-text-bold">/</span>
            <span class="our-target-map-text-bold">128,650,000</span>
            <span class="our-target-map-text-thin">державний центр</span>
            <span class="our-target-map-text-thin"></span>
            <span class="our-target-map-text-thin">Задоволенних вiдвiдувачiв</span>
        </div>
        <img src="../img/map.svg" alt="Карта">
    </div>
</section>