<section class="partners">
    <div class="container">
        <h3 class="title">Партнери</h3>
        <div class="partners-content">
            <div class="partners-item">
                <img class="partners-img" src="../img/Partners/item-1.png" alt="partner-logo">
            </div>
            <div class="partners-item">
                <img class="partners-img" src="../img/Partners/item-2.png" alt="partner-logo">
            </div>
            <div class="partners-item">
                <img class="partners-img" src="../img/Partners/item-3.png" alt="partner-logo">
            </div>
            <div class="partners-item">
                <img class="partners-img" src="../img/Partners/item-4.png" alt="partner-logo">
            </div>
            <div class="partners-item">
                <img class="partners-img" src="../img/Partners/item-5.png" alt="partner-logo">
            </div>
        </div>
    </div>
</section>