<section class="services">
    <div class="container">
        <h3 class="title">Вартість послуг</h3>
        <div class="services-list">
            <div class="services-item">
                <p class="services-item-text">“Базовий”</p>
                <p class="services-item-text">6 777 грн</p>
                <a href="#" class="btn _light">Детальнiше</a>
            </div>
            <div class="services-item">
                <p class="services-item-text">“Стандарт”</p>
                <p class="services-item-text">9 189 грн</p>
                <a href="#" class="btn _light">Детальнiше</a>
            </div>
            <div class="services-item">
                <p class="services-item-text">Паспортний сервiс</p>
                <p class="services-item-text">13 141 грн</p>
                <a href="#" class="btn _light">Детальнiше</a>
            </div>
        </div>
    </div>
</section>