<section class="service-cost">
    <div class="container">
        <h3 class="title">Вартість послуг</h3>
        <div class="service-cost-list">
            <div class="service-cost-item">
                <div>
                    <p class="service-cost-item-text">“Базовий”</p>
                    <p class="service-cost-item-text underline">6 777 грн</p>
                </div>
                <a href="#" class="btn _light">Детальнiше</a>
            </div>
            <div class="service-cost-item">
                <div>
                    <p class="service-cost-item-text">“Стандарт”</p>
                    <p class="service-cost-item-text underline">9 189 грн</p>
                </div>
                <a href="#" class="btn _light">Детальнiше</a>
            </div>
            <div class="service-cost-item">
                <div>
                    <p class="service-cost-item-text">Паспортний сервiс</p>
                    <p class="service-cost-item-text underline">13 141 грн</p>
                </div>
                <a href="#" class="btn _light">Детальнiше</a>
            </div>
        </div>
    </div>
</section>