<section class="services">
    <div class="container">
        <h3 class="title">Послуги</h3>
        <div class="services-list">
            <div class="services-item">
                <img class="services-item-img" src="../img/Services/icon-1.png" alt="services-icon" class="services-item-logo">
                <p class="services-item-text">Шлюб за добу</p>
                <a href="#" class="btn _light">Детальнiше</a>
            </div>
            <div class="services-item">
                <img class="services-item-img" src="../img/Services/icon-2.png" alt="services-icon" class="services-item-logo">
                <p class="services-item-text">Страхування</p>
                <a href="#" class="btn _light">Детальнiше</a>
            </div>
            <div class="services-item">
                <img class="services-item-img" src="../img/Services/icon-3.png" alt="services-icon" class="services-item-logo">
                <p class="services-item-text">Паспортний сервiс</p>
                <a href="#" class="btn _light">Детальнiше</a>
            </div>
            <div class="services-item">
                <img class="services-item-img" src="../img/Services/icon-4.png" alt="services-icon" class="services-item-logo">
                <p class="services-item-text">Апостилювання</p>
                <a href="#" class="btn _light">Детальнiше</a>
            </div>
            <div class="services-item">
                <img class="services-item-img" src="../img/Services/icon-5.png" alt="services-icon" class="services-item-logo">
                <p class="services-item-text">Юридичнi послуги у сферi реєстрування нерухомого майна</p>
                <a href="#" class="btn _light">Детальнiше</a>
            </div>
            <div class="services-item">
                <img class="services-item-img" src="../img/Services/icon-6.png" alt="services-icon" class="services-item-logo">
                <p class="services-item-text">Нова пошта вiддiлення № 400</p>
                <a href="#" class="btn _light">Детальнiше</a>
            </div>
            <div class="services-item">
                <img class="services-item-img" src="../img/Services/icon-7.png" alt="services-icon" class="services-item-logo">
                <p class="services-item-text">UPS - Україна: Мiжнароднi перевезення</p>
                <a href="#" class="btn _light">Детальнiше</a>
            </div>
            <div class="services-item">
                <img class="services-item-img" src="../img/Services/icon-8.png" alt="services-icon" class="services-item-logo">
                <p class="services-item-text">“Дiя” квалiфiкований електронний пiдпис</p>
                <a href="#" class="btn _light">Детальнiше</a>
            </div>
        </div>
    </div>
</section>