<section class="write-about-us">
    <div class="container">
        <h3 class="title">Про нас пишуть</h3>
        <div class="write-about-us-content">
            <div class="write-about-us-item">
                <img class="write-about-us-img" src="../img/thesvadba-logo.png" alt="partner-logo">
            </div>
            <div class="write-about-us-item">
                <img class="write-about-us-img" src="../img/thesvadba-logo.png" alt="partner-logo">
            </div>
            <div class="write-about-us-item">
                <img class="write-about-us-img" src="../img/thesvadba-logo.png" alt="partner-logo">
            </div>
            <div class="write-about-us-item">
                <img class="write-about-us-img" src="../img/thesvadba-logo.png" alt="partner-logo">
            </div>
        </div>
    </div>
</section>